<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
	<display-name>jspPro</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>now</servlet-name>
		<servlet-class>chap17.NowServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>now</servlet-name>
		<url-pattern>/now</url-pattern>
	</servlet-mapping>
 
	<!-- xml주석문 -->
	<!-- DB연동 관련 시작 p585 8라인 -->
	<listener>
	<listener-class>jdbc.DBCPInitListener</listener-class>
	</listener>

	<!-- DB관련,커넥션풀관련 정보 p585 12 라인 -->
	<context-param>
		<param-name>poolConfig</param-name>
		<param-value>
   jdbcdriver=com.mysql.jdbc.Driver
   jdbcUrl=jdbc:mysql://localhost:3306/board?useUnicode=true&amp;characterEncoding=utf8&amp;serverTimezone=UTC
   dbUser=jspexam
   dbPass=jsppw
   validationQuery=select 1
   minIdle=3
   maxTotal=30
   poolName=board
	</param-value>
  	</context-param>
	<!-- DB연동 관련 끝 -->

<!-- MVC컨트롤러 코드 p589 -->
 <servlet>
<servlet-name>ControllerUsingURI</servlet-name>
<servlet-class>mvc.controller.ControllerUsingURI</servlet-class>
<!-- p536참고 -->
<init-param>
<param-name>configFile</param-name>
<param-value>/WEB-INF/commandHandlerURI.properties</param-value>
</init-param>
<load-on-startup>1</load-on-startup>
</servlet> 

<servlet-mapping>
<servlet-name>ControllerUsingURI</servlet-name>
<url-pattern>*.do</url-pattern>
</servlet-mapping>

</web-app>